<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @tarea.title %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @tarea.desc %>
</p>

<p>
  <strong>Photo:</strong>
    <img src="<%= @tarea.photo %>" class="card-img-top" alt="...">
</p>

<h2>usuario</h2>
<% @tarea.users.each do |u| %>
  <%= u.email %>
<% end %>
<h2>ranking</h2>
<% @ranking.each do |u| %>
  <%= u.email %>
<% end %>

<%= link_to 'Edit', edit_tarea_path(@tarea) %> |
<%= link_to 'Back', tareas_path %>
